<h2>Answer:</h2>
<div class="chat">
  <div class="card-you">
    <%= @question %>
  </div>
  <div class="card-coach">
    <%= @answer %>
  </div>
</div>
<div class="link">
  <a href="/ask">ask again</a>
</div>
