.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}
.chat {
  width: 800px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.card-coach {
  width: 500px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  align-self: end;
  margin: 10px;
}

.card-you {
  width: 500px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

h1 {
  color: red;
  font-weight: 900;
}

h2 {
  font-size: 25px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: rgba(0, 34, 255, 0.703);
  padding: 10px 25px;
  border-radius: 10px;
}
